@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.check {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 0 1rem;
}

.check input {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid hsl(176, 100%, 44%);
  cursor: pointer;
  position: relative;
  border-radius: 0.35rem;
}

.check input:checked {
  background-color: hsl(176, 100%, 44%);
}

.check input:checked::before {
  content: "✔";
  position: absolute;
  color: hsl(198, 20%, 13%);
  font-size: 1.05rem;
  font-weight: 600;
  left: 50%;
  top: -3.5px;
  transform: translateX(-50%) translateY(15%);
}

.check label {
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  letter-spacing: 0.75px;
}

.slider::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: hsl(52, 100%, 62%);
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
  transition: all 100ms ease-in;
}

.slider:focus {
  outline: 3px solid hsl(52, 100%, 62%);
}

.slider::-webkit-slider-thumb:hover {
  outline: 2px solid hsl(52, 100%, 62%);
  background-color: hsl(268, 75%, 9%);
  box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.8);
}

.active {
  opacity: 1;
  transform: scale(1);
}

.slider::-moz-range-thumb {
  position: relative;
  z-index: 1;
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--vb-yellow);
  box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.5);
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  outline: 2px solid var(--vb-yellow);
  background-color: var(--dk-violet);
  box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.8);
}
